/* Override some defaults */
html, body {
  background-color: #eee;
}

.navbar {
  margin-bottom: 0;
}
@media (min-width: 1200px){
  .navbar .container{
    width: 1170px;
  }
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	overflow:hidden;
}
.tag_box li {
	/*line-height:28px;*/
	float:left;
	margin:0 10px 6px 0;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	display: block;float: left;
	padding: 2px 8px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	

.v-fork-me {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
@media (max-width:767px){
  .v-fork-me {
    display: none;
  }
}

/** violet-post **/
.violet-post {height: auto; min-height: 520px;}
.violet-post-det {
    background: #eeefef;
    -moz-box-shadow: 3px 3px #e0e0e0;
    -webkit-box-shadow: 3px 3px 0 #e0e0e0;
    box-shadow: 3px 3px 0 #e0e0e0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #efefef;
}

.v-post-aside {
  width: 24%;
    float: right;
    margin: 0 0;
    padding: 20px 20px 20px 0;
}
.v-post-aside .category {
  padding-left: 13px;
  margin-top: 30px;
}
.v-post-aside .v-category-item span {
  color: #E18B3A;
}
.v-post-aside .recent-post {
    padding-left: 13px;
}
.v-post-aside .v-section-tit {
    padding-left: 5px;
    color: #2d6213;
    border-bottom: 1px solid #dedede;
    margin-bottom: 6px;
}
.v-post-aside li {
    font-family: verdana,"黑体",sans-serif;
    font-size: 12px;
    line-height: 30px;
    padding: 5px 0;
    border-bottom: 1px dashed #c9ccc9;
}
.v-post-aside li a {
    display: block;
    padding: 0 5px;
    color: #666;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    border-radius: 4px 4px;
    cursor: pointer;
}
.v-post-aside li a:hover {
    color: #4d4d4d;
    background: #e0e0e0;
    text-decoration: none;
}

.v-post-detail {
    margin: 0 0;
    padding: 50px 20px 50px 40px;
    background: #fff;
    position: relative;
}
.v-entry { padding-right: 10px; color: #555; font-family: verdana, "Microsoft Yahei","Microsoft Jhenghei",STHeiti,PMingLiU,Simsun; }
.v-entry h1,
.v-entry h2,
.v-entry h3,
.v-entry h4,
.v-entry h5,
.v-entry h6 { margin: 0; padding: 0; font-family: "Times New Roman", Times ,serif;}
.v-entry h1 { padding: 3px 0; font-size: 20px; line-height: normal; margin-bottom: 20px; color: #489620; font-weight: 700; border-bottom: 1px solid #e8e8e8; }
.v-entry h2 { margin-bottom: 20px; color: #489620; padding: 3px 0; font-size: 18px; line-height: normal; border-bottom: 1px solid #e8e8e8; font-family: 700; }
.v-entry h3 { font-size: 16px; font-weight: 700; line-height: 26px; color: #489620; border-bottom: 1px solid #e8e8e8; margin-bottom: 18px; margin-top: 1.5em; }
.v-entry h4 { margin-bottom: 18px; font-size: 14px; font-weight: 700; color: #489620; line-height: 26px; text-transform: uppercase; }
.v-entry h5 { margin-bottom: 18px; color: #444; font-size: 14px; line-height: 26px; text-transform: uppercase; }
.v-entry h6 { font-size: 13px; font-weight: 700; margin-bottom: 0.5em; color: #444; line-height: 26px; }
.v-entry > h2:first-child, .v-entry > h1:first-child, .v-entry > h1:first-child + h2 { border: 0 none; }
.v-entry p { font-size: 13px; line-height: 24px; margin-bottom: 15px; text-indent:0px; }
.v-entry p img{padding:4px;background-color:#eee;border:1px solid #ddd;margin-bottom:20px}
.v-entry > p:first-child { margin: 0.8em 0; text-indent: 0; }
.v-entry ul,
.v-entry ol { padding-bottom: 2px; margin-left: 24px; margin-top: 0.6em; }
.v-entry ul li,
.v-entry ol li { font-size: 13px; color: #555; margin: 0.5em 0; }
.v-entry ul li { list-style-type: square; }
.v-entry ol li { list-style-type: decimal; }
.v-entry > ul,
.v-entry > ol { margin-left: 24px; margin-top: 0.8em; }
.v-entry dl { margin: 0; padding: 0; }
.v-entry dl dt { font-size: 15px; font-weight: bold; line-height: normal; color: #494949; margin: 0.6em 0 0; }
.v-entry dl dd { font-size: 13px; margin: 0; padding: 3px 0 0; }
.v-entry blockquote { border-left: 4px solid #e5e5e5; color: #555; line-height: 1.8em; margin: 0 0 1em 0; padding-left: 0.8em; }
.v-entry table { border-collapse: collapse; margin: 10px 0 10px; padding: 0; border-top: 2px solid #e18b3a; border-bottom: 2px solid #e18b3a; }
.v-entry * tr { background-color: #fff; border-top: 1px solid #d8d8d8; margin: 0; padding: 0; } 
.v-entry * tr:nth-child(2n) { background: #f8f8f8; }
.v-entry * tr th,
.v-entry * tr td { border: 1px solid #d8d8d8; margin: 0; padding: 5px 13px; text-align: left; color: #555; }
.v-entry * tr th:first-child,
.v-entry * tr td:first-child { border-left: none; }
.v-entry * tr th:last-child,
.v-entry * tr td:last-child { border-right: none; }
.v-entry * tr th { font-weight: 700; }
.v-entry em { font-size: 14px; font-style: italic; color: #555; }
.v-entry strong { font-weight: 700; font-family: "Times New Roman",Times,serif; }
/*
.v-entry pre { 
  background-color: #303030;
  border-left: 5px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  font: 12px/1.5 Monaco,serif;
  margin: 10px 0 10px 0px;
  overflow:  auto;
  color: #e8e8e8;
  border-radius: 3px 3px 3px 3px;
}
.v-entry .v-code {
 margin: 0 3px;
 padding: 0 3px;
 background: #a0a0a0;
 font: 12px Monaco,serif;
 color: #f8f8f8;
 border-radius: 2px 2px;
}
*/
/** violet-journal **/
.violet-journal { background: none repeat scroll 0 0 #FFFFFF; margin: 0; padding: 10px;width:70%; float:left; }
.v-section-tit { padding: 0px 5px 0 0; color: #888; font-size: 18px; line-height: 30px; font-weight: 500; font-family: "Times New Roman",Times,serif; border-bottom: 1px solid #e8e8e8; }
.v-section-tit span { display: inline; font-family: "Times New Roman",Times,serif; font-size: 12px; line-height: 12px; color: #e58b3a; }
.v-section-tit h2 { display: inline; font-size: inherit; padding: inherit; margin: inherit; line-break: inherit;}
.v-excerpt { border-bottom: 1px dotted #e8e8e8; border-top: 1px solid #fff; padding:20px 30px 10px 20px;}
.v-excerpt:hover { background: #f5f5f5;
  background: -moz-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #ffffff 0, #fefefe 80%, #f5f5f5 100%)
 }
.v-excerpt-title { margin-bottom: 12px; }
.v-excerpt-title a { font-size: 18px; font-family: "Times New Roman",Times, serif; color: #489620; font-weight: 700; }
.v-excerpt-title a:hover, .v-post-list .v-post-title a:hover { color: #246105; text-decoration: none; }
.v-excerpt-desc { margin-bottom: 10px; }
.v-excerpt-footer{ float: right; margin-top: -10px; }
.v-excerpt-det { font-size: 13px; line-height: 21px; color: #686868; font-family: Georgia, sans-serif; margin-bottom: 0; }
.v-excerpt-det p { margin-bottom: 10px; }
.v-post-list { padding: 8px 30px 8px 20px; border-top: 1px solid #fff; border-bottom: 1px dashed #e8e8e8; }
.v-post-list:hover { background: #f5f5f5; 
  background: -moz-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #ffffff 0, #fefefe 80%, #f5f5f5 100%)
}
.v-post-list .v-post-title { display: inline; line-height: 24px; }
.v-post-list .v-post-title a { font-size: 16px; line-height: 24px; font-family: "Times New Roman",Times, serif; color: #489620; font-weight: 700; }
.v-post-list .v-list-footer{ float: right; margin-top: -26px; }
.v-post-list  p { float: right; display: inline; line-height: 24px; color: #888; }

.violet-about-det{margin-top: 10px;}
.v-my-face{float: left;margin-right: 20px;}
.v-more,.v-date{ margin-bottom: 0px;}